@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Josefin+Sans:ital,wght@0,500;0,600;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav__icon {
  display: none;
}
.container{
  overflow-x:hidden;

}
.container1 {
  padding: 10px 20px;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav__logo {
  grid-column-start: 1;
  color: #fff;
  grid-column-end: 2;
}
.grid {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
}
.navLink {
  color: #fff;
}
/* Navbar finished */
.stikyOpen {
  display: none;
}
.stiky {
  display: none;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 0 0 30px 0; */
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
}
.text {
  font-size: 20px;
  padding: 10px 40px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.text span:nth-child(1) {
  font-size: 30px;
  padding-bottom: 8px;
}
.text span:nth-child(2) {
  font-size: 20px;
}
.img {
  width: 400px;
}
.clipPath {
  background-image: url(./blob.svg);
  background-size: cover;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
}
/* Skills */
.skills {
    padding: 20px 0;
  }
  .skillText {
    font-size: 35px;
    text-align: center;
  }
  .cardContainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
  }
  .aboutLang{
    grid-column-start:3;
    grid-column-end:4;
    padding:0 15px 0 0 ;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .cards {
    grid-column-start:1;
    grid-column-end:3;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card:nth-child(1) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #e44d26;
    background: -webkit-linear-gradient(to right, #f16529, #e44d26);
    background: linear-gradient(to right, #f16529, #e44d26);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .card:nth-child(2) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #005c97;
    background: -webkit-linear-gradient(to right, #363795, #005c97);
    background: linear-gradient(to right, #363795, #005c97);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .card:nth-child(3) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #fffc00;
    background: -webkit-linear-gradient(to right, #f3c86a, #fffc00);
    background: linear-gradient(to right, #f3c86a, #fffc00);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .js {
    width: 48px;
  }
  .react {
    width: 64px;
  }
  .card:nth-child(4) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #79d5ec);
    background: linear-gradient(to right, #6dd5ed, #79d5ec);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
  }
  .card:nth-child(5) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #f953c6;
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
  /* Footer */
  .footer {
    background: #008ffc;
    padding-top: 40px;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  
  .contactG {
    padding: 15px;
    font-size: 18px;
  }
  .via {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
  }
  .contactG input {
    padding: 8px 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 70%;
  }
  .contactG textarea {
    padding: 8px 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 70%;
  }
  .aloqa {
    text-align: center;
    font-size: 30px;
  }
  .send{
    border:none;
    color:#fff;
    padding:8px 14px;
    border-radius:5px;
    background: #005c97;

  }

@media only screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .container1 {
    max-width: 750px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
  .header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-shadow: 8px 8px 8px 8px #fff;
    background: #00b4db;
    background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
    background: linear-gradient(to right, #0083b0, #00b4db);
  }

  .grid {
    display: grid;
    gap: 1.5rem;
  }
  .nav {
    padding: 15px;
    max-width: 968px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__toggle {
    cursor: pointer;
  }
  .nav__menu {
    padding: 20px 15px;
    box-shadow: 8px 8px 8px 8px #fff;
    background: #00b4db;
    background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
    background: linear-gradient(to right, #0083b0, #00b4db);
    position: absolute;
    bottom: -300%;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.2s;
  }
  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .nav__link {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  .nav__icon {
    display: block;
    font-size: 22px;
  }
  .nav__logo {
    color: #fff;
    position: relative;
    top: 0;
    font-size: 1.2rem;
  }
  .nav__close {
    position: absolute;
    color: #fff;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav__app {
    color: #fff;
    font-size: 1.2rem;
  }
  .show-menu {
    bottom: 0;
  }
  /* Navabar finished */
  header {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .number {
    color: #555;
  }
  .text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 15px;
    font-size:16px;
  }

  .clipPath {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: auto;
  }
  header .img {
    width: 200px;
  }
  .uil-angle-left-b {
    font-size: 30px;
    color: #fff;
  }
  .uil-angle-right-b {
    font-size: 30px;
    color: #111;
  }
  .stiky {
    width: auto;
    height: auto;
    position: fixed;
    background: #fff;
    display: flex;
    flex-direction: row;
    top: 340px;
    right: 0px;
    z-index: 10000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px;
    box-shadow: 1px 1px 2px 2px #111;
    transition: all ease 0.4s;
  }
  .stiky1 {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stiky2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .olibchiq {
    transform: translateX(90px);
  }
  .svg {
    width: 100%;
    width: 50%;
    /* padding: 0 100px; */
    padding-left:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stikyOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 20px;
    padding: 3px;
    position: fixed;
    top: 370px;
    box-shadow: 1px 1px 2px 2px #fff;
    z-index: 10000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    background: #00b4db;
    background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
    background: linear-gradient(to right, #0083b0, #00b4db);
  }
  /* Header finished */
  .skills {
    padding: 20px 0;
  }
  .skillText {
    font-size: 35px;
    text-align: center;
  }
  .cardContainer{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
   .aboutLang{
     padding:15px;
     grid-column-start:1;
    grid-column-end:3;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .cards {
    grid-column-start:1;
    grid-column-end:3;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card:nth-child(1) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #e44d26;
    background: -webkit-linear-gradient(to right, #f16529, #e44d26);
    background: linear-gradient(to right, #f16529, #e44d26);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .card:nth-child(2) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #005c97;
    background: -webkit-linear-gradient(to right, #363795, #005c97);
    background: linear-gradient(to right, #363795, #005c97);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .card:nth-child(3) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #fffc00;
    background: -webkit-linear-gradient(to right, #f3c86a, #fffc00);
    background: linear-gradient(to right, #f3c86a, #fffc00);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .js {
    width: 48px;
  }
  .react {
    width: 64px;
  }
  .card:nth-child(4) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #79d5ec);
    background: linear-gradient(to right, #6dd5ed, #79d5ec);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
  }
  .card:nth-child(5) {
    width: 85%;
    margin: 8px 0;
    border-radius: 10px;
    background: #f953c6;
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
  /* Skills finished */
  .footer {
    background: #008ffc;
    padding-top: 40px;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .contactG {
    padding: 15px;
    font-size: 18px;
  }
  .via {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
  }
  .contactG input {
    padding: 8px 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 70%;
  }
  .contactG textarea {
    padding: 8px 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 70%;
  }
  .aloqa {
    text-align: center;
    font-size: 30px;
  }
  .send{
    border:none;
    color:#fff;
    padding:8px 14px;
    border-radius:5px;
    background: #005c97;

  }
}
